<%= content_for :navbar do%>
<a href="/home" class="w3-bar-item w3-button w3-padding-large" ><i class="fa fa-home w3-margin-right"></i>Bruhdit</a>
  <a href="/posts" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white " title="All Posts"><i class="fa fa-globe"></i></a>
  <a href="/tags" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="All Tags"><i class="fa fa-tags"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
  </div>
  <%= button_to("Logout", '/logout',  {method: :post, class: 'w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white'})%>
  <%= link_to(conversations_path, class: "w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white") do %>
      <i class="fa fa-envelope"></i><span class="w3-badge w3-right w3-small w3-green"><%= User.find(session[:user_id]).unread_messages%></span>
  <%end%>
  <%= link_to('/analytics', class: "w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white") do %>
    <i class="fa fa-line-chart"></i>
  <%end%>
<%end%>

<% content_for :page_container do %>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
  
  <!--Left Column -->
  <%= render 'layouts/left'%>   
    
    <!-- Middle Column -->
    <div class="w3-col m7">

          <div class="w3-container w3-theme-d1 w3-margin">
        <h1> <%= @tag.name.titleize %> Posts</h1>
      </div>

      <%= render '/posts/display'%>
      
      
     
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
<%end%>
