<%= content_for :navbar do%>
<a href="/home" class="w3-bar-item w3-button w3-padding-large w3-theme-d4" ><i class="fa fa-home w3-margin-right"></i>Bruhdit</a>
  <a href="/posts" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="All Posts"><i class="fa fa-globe"></i></a>
  <a href="/tags" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="All Tags"><i class="fa fa-tags"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
  </div>
  <%= button_to("Logout", '/logout',  {method: :post, class: 'w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white'})%>
  <%= link_to(conversations_path, class: "w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white") do %>
      <i class="fa fa-envelope"></i><span class="w3-badge w3-right w3-small w3-green"><%= User.find(session[:user_id]).unread_messages%></span>
  <%end%>
  <%= link_to('/analytics', class: "w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white") do %>
    <i class="fa fa-line-chart"></i>
  <%end%>
<%end%>

<% content_for :page_container do %>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
   <!-- Left Column -->
    <%= render 'layouts/left'%>
    
    <!-- Middle Column -->
    <div class="w3-col m7">

    
      <div class="w3-container w3-theme-d1 w3-margin">
        <h1>Home Page</h1>
      </div>

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h3 class="w3-opacity">Create a New Post!</h3>
              <%= form_for(@new_post, url: posts_path) do |f|%>
                 <%= f.text_field :title, placeholder: "Your Post's Title!", class: "w3-input w3-border w3-padding"%><br /> 
                 <%= f.text_area :body, placeholder: "Your New Post!", class: "w3-input w3-border w3-padding"%><br />
                 <%= f.collection_check_boxes(:tag_ids, @tags, :id, :name) do |b|%>
                    <%=b.label(:"data-value" => b.value) { b.check_box + b.text}%>
                 <% end%> <br>
                 <h6 class="w3-opacity">Create your own tag!</h6>
                 <%= f.fields_for :tags, @new_post.tags.build do |tag| %>
                    <%= tag.text_field :name, placeholder: "Your New Tag!"%> <br>
                    <br>
                  <%end%>
                  <%= button_tag( class: "w3-button w3-theme") do %>
                    <i class="fa fa-pencil"></i> Post
                  <% end %>
              <%end%>
            </div>
          </div>
        </div>
      </div>

      <%=render 'posts/display'%>
   
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
<%end%>
