<%= content_for :navbar do%>
<a href="/home" class="w3-bar-item w3-button w3-padding-large" ><i class="fa fa-home w3-margin-right"></i>Bruhdit</a>
  <a href="/posts" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="All Posts"><i class="fa fa-globe"></i></a>
  <a href="/tags" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="All Tags"><i class="fa fa-tags"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
  </div>
  <%= button_to("Logout", '/logout',  {method: :post, class: 'w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white'})%>
  <%= link_to(conversations_path, class: "w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white") do %>
      <i class="fa fa-envelope"></i><span class="w3-badge w3-right w3-small w3-green"><%= User.find(session[:user_id]).unread_messages%></span>
  <%end%>
  <%= link_to('/analytics', class: "w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white") do %>
    <i class="fa fa-line-chart"></i>
  <%end%>
<%end%>

<% content_for :page_container do %>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px; margin-bottom:170px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center"><%= "#{@post.user.user_name}'s Profile"%></h4>
         <p class="w3-center"><img src=<%=@post.user.image%> class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <%current_conversation = @current_user.convo_exists?(@post.user)%>
        <%if current_conversation%>
          <%= content_tag(:h6, link_to(" Chat with #{@post.user.user_name}!", conversation_messages_path(current_conversation)), class: "w3-center w3-circle w3-margin-right")%><br />
        <%else%>
          <%= content_tag(:h6, button_to("Chat with #{@post.user.user_name}!", conversations_path(sender_id: @current_user.id, recipient_id: @post.user.id)), class: "w3-center w3-circle w3-margin-right")%><br/>
          <br>
        <%end%>
        </div>
      </div>
      <br>
    
     <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Top 10 Tags</p>
          <p>
            <% @top_ten_tags.each do |tag, color|%>
              <%= content_tag(:span, link_to(tag.name.titleize, tag_path(tag)), class: color)%>
            <%end%>
          </p>
        </div>
      </div>
      <br>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
         <%= content_tag(:h2, @post.title, class: "w3-left w3-circle w3-margin-right")%>
        <span class="w3-right w3-opacity"><%= "#{pluralize(@post.likes.count, "Like")}"%></span> <br>
        <span class="w3-right w3-opacity"><%= "#{pluralize(@post.comments.count, "Comment")}"%></span> <br>
        <span class="w3-right w3-opacity"><%= time_ago_in_words(@post.created_at)+ " ago"%></span>
        <hr class="w3-clear">
        <%= content_tag(:h4, @post.body, class: "w3-left")%>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class ="w3-row">
              Tags:
              <%@post.tags.each do |tag| %>
                  <span class="w3-tag w3-small w3-theme-d1"><%=link_to(tag.name, tag_path(tag))%></span>
              <%end%> 
            </div>
          </div>
          <br>
          <div class ="w3-row">

                <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
                <% if pre_like %>
                  <%= button_to '❌ Unlike', post_like_path(@post, pre_like), method: :delete %>
                <% else %>
                  <%= button_to '❤️ Like', post_likes_path(@post), { method: :post} %>
                <% end %> <br>
                <%if @current_user.id == @post.user_id%>
                <%= button_to "Edit Post", edit_post_path(@post), method: :get, params: {user_id: @current_user.id, post_id: @post.id}%>
                <%= button_to "Delete Post", post_path(@post), method: :delete, params: {user_id: @current_user.id, post_id: @post.id}%>
                <% end %>
                
      </div>
      </div>
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Add a Comment</h6>
              <%= form_for(@new_comment, url: comments_path)do |f|%>
                <%= f.hidden_field :post_id, value: @post.id %>
                <%= f.hidden_field :user_id, value: @current_user.id %>
                 <%= f.text_area :body, placeholder: "Your New Comment!", class: "w3-input w3-border w3-padding"%><br />
                  <%= button_tag( class: "w3-button w3-theme") do %>
                    <i class="fa fa-pencil"></i> Post
                  <% end %>
              <%end%>
            </div>
          </div>
        </div>
      </div>

      <h5 class="w3-opacity">Top Comments</h5>
      <% @top_three_comments.each do |comment|%>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
         <img src=<%=comment.user.image%> alt="Avatar" class="w3-left" style="width:60px">
         <%current_conversation = @current_user.convo_exists?(comment.user)%>
        <%if current_conversation%>
          <%= content_tag(:h6, link_to(comment.user.user_name, conversation_messages_path(current_conversation)), class: "w3-left w3-circle w3-margin-right")%><br />
        <%else%>
          <%= content_tag(:h6, button_to(comment.user.user_name, conversations_path(sender_id: @current_user.id, recipient_id: comment.user.id)), class: "w3-left w3-circle w3-margin-right")%><br/>
          <br>
        <%end%>
        <span class="w3-right w3-opacity"><%= "#{pluralize(comment.comment_likes.count, "Like")}"%></span> <br>
        <span class="w3-right w3-opacity"><%= time_ago_in_words(comment.created_at)+ " ago"%></span>
        <hr class="w3-clear">
        <%= content_tag(:p, comment.body, class: "w3-left")%>
          <br>
          <div class ="w3-row">
                <% pre_like = comment.comment_likes.find { |like| like.user_id == current_user.id} %>
                <% if pre_like %>
                  <%= button_to '❌ Unlike', comment_comment_like_path(comment, pre_like), method: :delete, params: {user_id: @current_user.id, post_id: @post.id}%>
                <% else %>
                  <%= button_to '❤️ Like', comment_comment_likes_path(comment),  method: :post, params: {user_id: @current_user.id, post_id: @post.id} %>
                <% end %>    
                <%if @current_user.id == comment.user_id%>
                  <%= button_to "Edit Comment", edit_comment_path(comment), method: :get, params: {user_id: @current_user.id, post_id: @post.id}%>
                  <%= button_to"Delete Comment", comment_path(comment), method: :delete, params: {user_id: @current_user.id, post_id: @post.id}%>
                <%end%>
        </div>
      </div>
      <%end%>

      <h5 class="w3-opacity">All Comments</h5>
      <% @comments.each do |comment|%>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity"><%= "#{pluralize(comment.comment_likes.count, "Like")}"%></span> <br>
        <span class="w3-right w3-opacity"><%= time_ago_in_words(comment.created_at)+ " ago"%></span>
        <hr class="w3-clear">
        <%current_conversation = @current_user.convo_exists?(comment.user)%>
        <%if current_conversation%>
          <%= content_tag(:h6, link_to(comment.user.user_name, conversation_messages_path(current_conversation)), class: "w3-left w3-circle w3-margin-right")%><br />
        <%else%>
          <%= content_tag(:h6, button_to(comment.user.user_name, conversations_path(sender_id: @current_user.id, recipient_id: comment.user.id)), class: "w3-left w3-circle w3-margin-right")%><br/>
          <br>
        <%end%>
        <br>
        <img src=<%=comment.user.image%> alt="Avatar" class="w3-left" style="width:60px">
        <%= content_tag(:p, comment.body, class: "w3-left")%>
          <br>
          <div class ="w3-row">
                <% pre_like = comment.comment_likes.find { |like| like.user_id == current_user.id} %>
                <% if pre_like %>
                  <%= button_to '❌ Unlike', comment_comment_like_path(comment, pre_like), method: :delete, params: {user_id: @current_user.id, post_id: @post.id}%>
                <% else %>
                  <%= button_to '❤️ Like', comment_comment_likes_path(comment),  method: :post, params: {user_id: @current_user.id, post_id: @post.id} %>
                <% end %>    
                <%if @current_user.id == comment.user_id%>
                  <%= button_to "Edit Comment", edit_comment_path(comment), method: :get, params: {user_id: @current_user.id, post_id: @post.id}%>
                  <%= button_to"Delete Comment", comment_path(comment), method: :delete, params: {user_id: @current_user.id, post_id: @post.id}%>
                <%end%>
        </div>
      </div>
      <%end%>
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<%end%>