<h1><%=@post.title%></h1>
<p><%=@post.body%></p>

<h3>Post tags</h3>

<% @post.tags.each {|tag| %>
    <p><%=tag.name%></p>
<% } %>

<%if @current_user.id == @post.user_id%>
    <%= button_to "Edit Post", edit_post_path(@post), method: :get%>
    <%= button_to "Delete Post", post_path(@post), method: :delete%>
<%end%>